h1{
  color: var(--text-color-secondary);
  font-size: 1em;
}
.display-value {
  width: calc(100% - 2em);
  background: var(--screen-bg-color);
  padding: 1em;
  text-align: right;
  color: var(--text-color-secondary);
  border-radius: 0.25em;
  margin-bottom: 0.4em;
}

.buttons-layout {
  display: grid;
  gap: 0.5em;
  grid-template: "auto auto auto auto";
  padding: 0.6em;
  background: var(--toggle-bg-kp-color);
  border-radius: 0.25em;
  button {
    padding: 0.9rem 2rem 0.5rem 2rem;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border-radius: 0.3rem;
    &.number-and-operator {
      background: var(--key-bg-numeric-color);
      box-shadow: 0 0.1em 0 var(--key-shadow-numeric-color);
    }
    &.function {
      background: var(--key-bg-color);
      box-shadow: 0 0.1em 0 var(--key-shadow-color);
      color: var(--text-color-secondary);
      font-size: 1rem;
    }
    &.result {
      background: var(--key-bg-toggle-color);
      box-shadow: 0 0.1em 0 var(--key-shadow-toggle-color);
      color: var(--text-color-secondary);
      font-size: 1rem;
    }
  }
  .last-item {
    padding: 1.6rem 4rem 1.2rem 4rem;
    grid-column: span 2;
    width: 100%;
  }
}


.switcher-container {
  position: relative;
  width: 20em;
  height: 20em;
  border-radius: 50%;
  background-color: lightgray;
}

.switcher {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5em;
  height: 2.5em;
  margin-top: -1.25em;
  margin-left: -1.25em;
  border-radius: 50%;
  background-color: blue;
  transition: all 0.5s ease-in-out;
}

.switcher-0 {
  transform: translateX(-7.5em) translateY(0);
}

.switcher-1 {
  transform: translateX(0) translateY(7.5em);
}

.switcher-2 {
  transform: translateX(7.5em) translateY(0);
}
